@charset "UTF-8";

/* Em HTML é id em CSS é #
Em HTML é class em cSS é . */

body{
    background-color: rgb(252, 230, 224);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(131, 43, 43);
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

.basico{
    color: rgb(40, 134, 12);
}

.intermediario{
    color: rgb(182, 86, 22);
}

.avançado{
    color: rgb(14, 93, 129);
}

h1#principal{
    font-size: 2.5em;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(131, 43, 43);
    font-style: normal;
}


h2{
    color: rgb(179, 41, 41);
}

p{
    text-align: justify;
}

.destaque{
    background-color: rgba(255, 225, 53, 0.712);
}